
<html>
  <head>
    <title>MyServlet Admin</title>
    <meta name="decorator" content="atl.general">
  </head>

<body class="aui-layout aui-theme-default">
  			<header class="aui-page-header">
  				<div class="aui-page-header-inner">
  				  <div class="aui-page-header-main">
  					<h1>Plugin Form</h1>
  				 </div>
  			  </div>
  			</header>
  <nav id="main-nav" class="aui-navgroup aui-navgroup-horizontal">
	<div class="aui-navgroup-inner">
		<div class="aui-navgroup-primary">
		<ul class="aui-nav">
			<li id="general-nav-item" class="aui-nav-selected"><a href="#">General</a></li>
			<li id="advanced-nav-item"><a href="#">Advanced</a></li>
		</ul>
		</div>
	</div>	
</nav>
<div class="aui-page-panel">
	<div class="aui-page-panel-inner">
		<section class="aui-page-panel-content">
			<div class="nav-content" id="content-1">
			<div id="aui-message-bar"></div>
					<form class="aui" action="">
	<div class="field-group">
		<label class="label">First Name</label>
		<input class="text" type="text">   
	</div>
	<div class="field-group">
		<input class="text" type="text">
		<label class="label">Last Name</label>
	</div>
	<div class="buttons-container">
		<div class="buttons">
			<input class="aui-button" id="submit-form" type="submit">
		</div>
	</div>
</form>     
			</div>
			<div class="nav-content" id="content-2">
					<div class="aui-message info">
    <span class="aui-icon aui-icon-info">Info</span> 
    This screen has not been built. This is a placeholder.
</div>
			</div>
		</section>
	</div>
</div>
  </body>
</html>